*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}
/* nav-sec */
#nav-sec{
    width: 100%;
    background-color: #1A0B2E;
    border-bottom: 2px solid rgb(228, 222, 222);
}
.wave{
    font-size: 2rem;
    background-image: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}
ul li{
    font-size: 0.55rem;
    justify-content: space-between;
    display: inline-flex;
    text-align: center;
    margin-right: 35px;
}
li a{
    text-decoration: none;
    color: white;
    list-style: none;
}
.nav-container button{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 0.65rem;
    font-weight: 600;
    width: 95px;
    height: 30px;
}
.nav-btn img{
    height: 15px;
    width: 15px;
}

/* hero-sec */
.main-banner{
    max-width: 100%;
    height: auto;
    position: absolute;
}
.hero-img{
    max-width: 100%;
    position: relative;
}
.hero-img button{
    position: absolute;
    border-radius: 15px;
    margin-top: 80px;
    border: none;
    /* box-shadow: 0px, 0px 10px; */
    font-size: 0.75rem;
    font-weight: 600;
    height: 30px;
    width: 55px;
    background-color: #00FF88;
}
.banner-circle{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 500px;
    margin-top: 80px;
}
.banner-mic{
    position: relative;
    width: 100%;
    text-align: center;
    height: 120px;
    width: 95px;
    margin-left: 575px;
    margin-top: 134px;
}
.hero-info{
    max-width: 1650px;
    position: absolute;
   text-align: center;
   margin-top: 100px;
}
.hero-details{
    width: 1250px;
    align-items: center;
}
.hero-details h1{
    width: 100%;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    align-items: center;
}
.hero-details p{
    font-size: 0.75rem;
    color: white;
    margin-bottom: 10px;
}
.hero-btn{
    display: flex;
    width: 1250px;
    justify-content: center;
    gap: 10px;
}
.hero-first-btn{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 0.65rem;
    font-weight: 600;
    width: 150px;
    height: 30px;
    gap: 5px;
}
.hero-sec-btn{
    color: #00FF88;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #16c172;
    padding: 5px;
    font-size: 0.65rem;
    font-weight: 600;
    width: 120px;
    height: 30px;
    background: transparent;
    gap: 5px;
}