*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}
/* nav-sec */
#nav-sec{
    width: 100%;
    background-color: #1A0B2E;
    border-bottom: 2px solid rgb(228, 222, 222);
}
.wave{
    font-size: 2rem;
    background-image: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}
ul img{
    display: none;
}
ul li{
    font-size: 0.55rem;
    justify-content: space-between;
    display: inline-flex;
    text-align: center;
    margin-right: 35px;
}
li a{
    text-decoration: none;
    color: white;
    list-style: none;
}
.nav-container button{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 0.65rem;
    font-weight: 600;
    width: 95px;
    height: 30px;
    cursor: pointer;
}
.nav-container button:hover{
    background : #16c172;
}
.nav-btn img{
    height: 15px;
    width: 15px;
}

/* hero-sec */
.hero-container{
    width: 100%;
    height: 595px;
}
.main-banner{
    max-width: 100%;
    height: auto;
    position: relative;
}
.hero-img{
    position: relative;
}
.sec-img button{
    max-width: 100%;
    position: absolute;
    border-radius: 15px;
    margin-top: -520px;
    margin-left: 665px;
    border: none;
    box-shadow: 10px black;
    font-size: 0.75rem;
    font-weight: 600;
    height: 30px;
    width: 55px;
    background-color: #00FF88;
}
.banner-circle{
    max-width: 100%;
    position: absolute;
    text-align: center;
    width: 250px;
    height: 250px;
    margin-left: 504px;
    margin-top: -520px;
}
.banner-mic{
    position: absolute;
    height: 120px;
    width: 95px;
    margin-left: 580px;
    margin-top: -464px;
}
.hero-info{
    max-width: 100%;
    position: absolute;
   text-align: center;
   margin-top: -252px;
   margin-left: 20px;
}
.hero-details{
    align-items: center;
}
.hero-details h1{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    align-items: center;
    margin-bottom: 10px;
}
.hero-details p{
    font-size: 0.65rem;
    color: white;
    margin-bottom: 15px;
}
.hero-btn{
    display: flex;
    width: 1250px;
    justify-content: center;
    gap: 10px;
}
.hero-first-btn{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 0.65rem;
    font-weight: 600;
    width: 150px;
    height: 30px;
    gap: 5px;
    cursor: pointer;
}
.hero-first-btn:hover{
    background : #16c172;
}
.hero-sec-btn{
    color: #00FF88;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #16c172;
    padding: 5px;
    font-size: 0.65rem;
    font-weight: 600;
    width: 120px;
    height: 30px;
    background: transparent;
    gap: 5px;
    cursor: pointer;
}
.hero-sec-btn:hover{
    color: white;
    background : #16c172;
}
/* about-sec */
#about-sec{
    background-color: #1A0B2E;
}
.about-container{
    text-align: center;
    color: white;
}
.about-info h2{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.about-container p{
    font-size: 0.55rem;
    font-weight: 400;
}
.about-num{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 60px 230px;
}
.num h3{
    font-weight: 900;
    font-size: 1.55rem;
    color: #00FF88;
}
.num p{
    font-size: 0.55rem;
    line-height: 20px;
}
/* card-sec */
#card{
    color: white;
    background-color: #2c0f51;
    max-width: 100%;
    height: 700px;
}
#card h2{
    text-align: center;
    padding-top: 40px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    margin:50px 230px;
    gap: 20px;
    margin-bottom: 40px;
}
.card-container img{
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}
.card-container h3{
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.card-container p{
    font-size: 0.55rem;
    line-height: 14px;
    margin-bottom: 10px;
}
.card-headphone{
    background: linear-gradient(to top right,  #4b1591  40%, #351165 100%);
    border-radius: 8px;
    padding: 95px 20px;
    grid-column: span 1;
    grid-row: span 2;
    width: 350px;
    height: auto;
    transition: width 5s ease-in-out;
}
.card-headphone:hover{
    width: 400px;
    background: #876fa7;
}
.card-device, .card-location{
    background: linear-gradient(to top right,  #4b1591   40%, #351165 100%);
    border-radius: 8px;
    padding: 20px;
    grid-column: span 2;
    grid-row: span 1;
    width: 350px;
    height: auto;
    transition: width 5s ease-in-out;
}
.card-location:hover{
    width: 300px;
    background: #876fa7;
}
.card-device:hover{
    width: 300px;
    background: #876fa7;
}
.card-Exclusive{
    background: linear-gradient(to top right,  #4b1591   40%, #351165 100%);
    border-radius: 8px;
    padding: 20px;
    grid-column: span 2;
    grid-row: span 1;
    transition: width 5s ease-in-out;
}
.card-Exclusive:hover{
    width: 400px;
    background: #876fa7;
}
.card-resource{
    background: linear-gradient(to top right,  #4b1591  40%, #351165 100%);
    border-radius: 8px;
    padding: 20px;
    grid-column: span 1;
    grid-row: span 1;
    transition: width 5s ease-in-out;
}
.card-resource:hover{
    width: 200px;
    background: #876fa7;
}


/* Featured-card */
#Featured-card{
    background-color: #1A0B2E;
    width: 100%;
    height: 950px;
}
.Featured-card-container h2{
    color: white ;
    text-align: center;
    padding-top: 80px;
    font-size: 2rem;
}
.featured-card{
    display: flex;
    color: white;
    gap: 20px;
    margin: 25px 248px;
}
iframe{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-info{
    background-color: #2d1250;
    width: 240px;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 70px;
}
.card-details{
    padding: 15px;
    
}
.card-info h3{
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-info p{
    font-size: 0.55rem;
    margin-bottom: 10px;
}
.para{
    display: inline-flex;
    color: #00FF88;
    gap: 5px;
    margin-bottom: 10px;
}
.para img{
    width: 12px;
    height: 12px;
}
/* host-sec */
#host{
    color: white;
    margin-bottom: 70px;
}
#host h2{
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
}
.host-details{
    background-color: #2d1250;
    border-radius: 40px;
    display: flex;
    gap: 24px;
}
.host-details img{
    width: 160px;
    height: 160px;
    padding: 35px 0px 35px 35px;
}
.host-info{
    margin: 40px 200px;
}
.card-details-info{
    width: 571px;
    height: 83px;
    padding: 55px 0px;
}
.card-details-info h3{
    font-size: 1.55rem;
    font-weight: bold ;
    margin-bottom: 10px;
}
.card-details-info p{
    font-size: 0.65rem;
    margin-bottom: 10px;
}
.host-icons img{
    border: 1px solid rgb(124, 117, 173);
    padding: 6px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


/* footer */

#footer img{
    width: 100%;
    height: auto;
}
.footer-wave{
    font-size: 4rem;
    background-image: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
.footer-container h1{
    position: absolute;
    font-size: 4rem;
    margin:-250px 0px 0px 470px;
}
.icon-info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 0.75rem;
    margin:-220px 20px 0px 70px;
}
.icon-info {
    width: 20px;
    height: 150px;
}
#footer .footer-icons{
    display: flex;
    margin-left: 360px;
}
.copy{
    color: white;
    position: absolute;
    font-size: 0.85rem;
    margin:-109px 20px 0px 484px;
}






/* responsive for mobile device */
@media screen and (max-width: 576px) {
    .nav-container button{
    display: none;
}
.nav-btn img{
    display: none;
} 
ul img{
    display: inline;
}
ul li{
    
    display: none;
}
li a{
    display: none;
}

/* hero-sec */
.hero-container{
    width: 100%;
    height: 270px;
}
.sec-img button{
    max-width: 100%;
    position: absolute;
    border-radius: 15px;
    margin-top: -246px;
    margin-left: 300px;
    border: none;
    box-shadow: 10px black;
    font-size: 0.75rem;
    font-weight: 600;
    height: 20px;
    width: 40px;
    background-color: #00FF88;
}
.banner-circle{
    position: absolute;
    text-align: center;
    width: 115px;
    height: 115px;
    margin-left: 233px;
    margin-top: -240px;
}
.banner-mic{
    position: absolute;
    height: 55px;
    width: 45px;
    margin-left: 268px;
    margin-top: -214px;
}
.hero-info{
    position: absolute;
   text-align: center;
   margin-top: -120px;
    margin-left: 115px;
}
.hero-details{
    align-items: center;
}
.hero-details h1{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    align-items: center;
    margin-bottom: 5px;
}
.hero-details p{
    font-size: 0.65rem;
    color: white;
    margin-bottom: 5px;
}
.hero-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}
/* about sec */
#about-sec{
    background-color: #1A0B2E;
    padding: 40px;
}
.about-num{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 40px 0px;
    gap: 25px;
}
/* card-sec */
.card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 150px);
    margin:30px 90px;
    gap: 20px;
    margin-bottom: 40px;
    
}
#card{
    color: white;
    background-color: #1A0B2E;
    height: 970px;
}
.card-headphone, .card-Exclusive, .card-resource{
    padding: 20px;
    width: 350px;
    height: auto;
}


/* feature-card */
#Featured-card{
    width: 100%;
    height: 1600px;
}
.featured-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 25px 60px;
}
.card-info{
    width: 456px;
    height: 270px;
    margin-bottom: 10px;
}
iframe{
    width: 456px;
    height: 140px;
}


/* host */
#host{
    color: white;
    margin-bottom: 10px;
}
#host h2{
    font-size: 1.75rem;
}
.host-details img{
    width: 160px;
    height: 160px;
    padding: 20px 100px;
}
.host-info{
    margin: 40px 100px;
}
.card-details-info{
    width: 300px;
    height: 183px;
    text-align: center;
    padding: 0px;
    margin: 10px 40px;
    margin-bottom: 20px;
}
.card-details-info h3{
    margin-bottom: 10px;
}
.card-details-info p{
    margin-bottom: 10px;
}
.host-icons img{
    display: inline;
    border: 1px solid rgb(124, 117, 173);
    padding: 6px;
    width: 10px;
    height: 10px;
    
}
.host-details{
    display: grid;
    gap: 4px;
    border-radius: 20px;
}

/* footer */
.footer-container h1{
    position: absolute;
    font-size: 2rem;
    margin:-130px 0px 0px 204px;
}
.footer-wave{
    font-size: 2rem;
}
.icon-info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 0.45rem;
    margin:-140px 20px 0px 0px;
}
.icon-info {
    width: 20px;
    height: 150px;
    margin-left: 30px;
}
#footer .footer-icons{
    margin-left: 130px;
}
.copy{
    margin:-50px 20px 0px 178px;
    font-size: 0.65rem;
}
}